*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    outline: none;
    color: black;
}
body{
    background: rgb(114, 234, 255);
}

.wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 425px;
    height: auto;
    background: rgb(35, 216, 207);
    padding: 35px 50px;
    border-radius: 2px;
    box-shadow: box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
}

.form .title{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
}

.form .input_warp {
    margin-bottom: 20px;
    width: 325px;
    position: relative;
}

.form .input_warp :last-child{
    margin-bottom: 0;
}

.form .input_warp label {
    display: block;
    margin-bottom: 5px;
}

.form .input_warp input{
    padding: 15px;
    width: 100%;
    border: 1px solid transparent;
    font-size: 16px;
    border-radius: 3px;
}

.form .input_warp .input:focus{
border-color: rgb(19, 68, 68);
}

.form .input_warp .error_msg{
    font-size: 15px;
    margin-bottom: 5px;
    color: rgb(187, 31, 31);
    display: none;
}

.form .input_warp .btn{
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    background: rgb(65, 145, 236);
    cursor: pointer;
}